<div class="container img_text">
  <%= image_tag(image_url('boards.jpg'), class:"heading img_fullscreen") %>
  <div class="centered">
	<h2>About</h2>
  </div>
</div>
<div class="container main">
  <p>Welcome to our shop! Here you find everything the surferheart desires.<br></p>
  <div class="cta">
	<%= link_to 'Go to shop', products_path %>
  </div>
</div>

