<div class="container">
  <h1 class="heading">About</h1>
  <p>Welcome to our shop! Here you find everything that the surferheart desires.<br><%= link_to 'Have a look around!', products_path %></p>
</div>

<img src="https://images6.alphacoders.com/431/thumb-1920-431411.jpg" alt="boards" class="img_fullscreen">
