<div class="panel panel-default">
  <div class="panel-body extra main">
  	<p>Thank you. We have received your message and will respond as soon as possible.</p>
  	<div class="cta">
	  <%= link_to 'Back to shop', products_path %>
    </div>
  	<%= image_tag(image_url('shaka.jpg')) %>
  </div><!-- / panel-body -->
</div><!-- / panel -->