<div class="container edit_page">

  <h1 class="heading">Editing Product</h1>

  <%= render 'form', product: @product %>

  <%= link_to 'Show', @product, class: 'btn btn-default edit' %></button>
  <%= link_to 'Back', products_path, class: 'btn btn-default edit' %></button>

</div>
