
  <p id="notice"><%= notice %></p>

<div class="container product_overview">
  <h1 class="heading">Products</h1>


<%= render 'slideshow', product: @product %>


  <button class="add_product"><%= link_to 'New Product', new_product_path %></button>
  <div class="row">
    <%= render @products %>
  </div>
</div>







